services:
    Predis\Client:
        lazy: true
        arguments:
            $parameters:
                scheme: 'redis'
                host: '%env(REDIS_HOST)%'
                port: '%env(int:REDIS_PORT)%'
            $options:
                prefix: '%env(APP_ENV)%'

    Symfony\Component\HttpFoundation\Session\Storage\Handler\RedisSessionHandler:
        arguments:
            - '@Predis\Client'

    Symfony\Component\Cache\Adapter\RedisAdapter:
        lazy: true
        arguments:
            $redis: '@Predis\Client'
    Constantinos\SecurityHeadersBundle\Library\CelestaClient:
        arguments:
            - '%env(BRAND_NAME)%'
            - '%env(VERSION)%'
            - '%env(CELESTA_GATEWAY_API_URL)%'
            - '%env(CELESTA_CLIENT_ID)%'
            - '%env(CELESTA_CLIENT_SECRET)%'
            - '@Symfony\Component\Cache\Adapter\RedisAdapter'
            - '@Psr\Log\LoggerInterface'
    Constantinos\SecurityHeadersBundle\Services\GatewayCelestaService:
        class: Constantinos\SecurityHeadersBundle\Services\GatewayCelestaService
        arguments:
            - '@Constantinos\SecurityHeadersBundle\Library\CelestaClient'
            - '@Symfony\Component\Cache\Adapter\RedisAdapter'

    gebler_security_headers.response_subscriber:
        class: Gebler\SecurityHeadersBundle\EventListener\ResponseSubscriber
