services:
  gebler_security_headers.response_subscriber:
    class: Gebler\SecurityHeadersBundle\EventSubscriber\ResponseSubscriber
    arguments:
      $parameterBag: "@parameter_bag"
    tags:
      - name: kernel.event_subscriber
constantinos_security_headers_bundle.my_service:
  class: Constantinos\SecurityHeadersBundle\Services\MyService
